@import './variables.scss';

/*
  ========================================
  Pagina 'Salon de la fama'
  ========================================
*/

.container {
  height: 100%;
}

.form-container {
  width: 100%;
  padding-top: 2rem;
}

.form-container > form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.form-container > form > input {
  padding: 0.6rem;
  border-radius: 20px 0 0 20px;
  border-bottom: 2px solid $border-color;
  border-left: 2px solid $border-color;
  border-right: none;
  border-top: 2px solid $border-color;
  font-size: 1.2rem;
}

.form-container > form > input:focus {
  outline: none;
}

/* Quita color de fondo que chrome pone por defecto cuando se ingresa valor */
.form-container > form > input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}

.form-container > form > button {
  background-color: white;
  border-radius: 0 20px 20px 0;
  border-bottom: 2px solid $border-color;
  border-left: none;
  border-right: 2px solid $border-color;
  border-top: 2px solid $border-color;
  font-size: 1.2rem;
  padding-right: 0.8rem;
}

.form-container > form > button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.form-container > p {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
}

.cards-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2.5rem;
}

.card {
  display: flex;
  flex-flow: column wrap;
  gap: 0.8rem;
  border: 2px solid $border-color;
  text-align: center;
  padding: 1rem;
}

.card > img {
  height: 6rem;
  object-fit: contain;
}

.card button {
  background-color: rgb(43, 78, 102);
  border-radius: 20px;
  border: none;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  font-size: 0.9rem;
  color: white;
}

/*
  ========================================
  Media Query
  ========================================
*/

@media (max-width: 768px) {
  .cards-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 425px) {
  .form-container > form > input {
    font-size: 0.9rem;
  }

  .form-container > form > button {
    font-size: 0.9rem;
  }
}
